/*!
 *
 *
 *
 *
 *
 *
 *
 */

body {
    font-size: 75%;
}

.fsContextMenu {
    max-height: 250px;
    overflow-y:scroll;

    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    opacity:0.95;
    cursor:pointer;
    padding: 5px 30px;
    border: 1px solid #b8c6d2;
    background: #dae6f1;
}

.fsTooltip {
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    opacity:1.0;
    cursor:pointer;
    padding: 5px 30px;
    border: 1px solid #b8c6d2;
    background: #dae6f1;
}

.fsContextMenu li {padding: 2px;}
.fsContextMenu li:hover {font-weight:bold; cursor: pointer;}

.ui-dialog {
    box-shadow: 2px 4px 2px 2px #ddd;
    -o-box-shadow: 2px 4px 2px 2px #ddd;
    -webkit-box-shadow: 2px 4px 2px 2px #ddd;
    -moz-box-shadow: 2px 4px 2px 2px #ddd;

}

.ui-dialog .ui-dialog-content {
    padding: 0px;
}

.paddingZero{ padding: 0px;}

/* Some background Colours */

.backgroundPastelBlue {background-color: #eef6ff;}
.backgroundLighterBlue {background-color: #effffd;}


/* Icons */

.dakota-icon-24 {
    background-image: url(images/dakota_icons.png);
    margin: 2px;
    height: 24px;
    width: 24px;
}

.dakota-icon-24:hover {
    border: 1px solid #558cda;
    margin: 1px;
    border-radius: 4px;
}

.dakota-icon-24-home {background-position: 0px 0px;}
.dakota-icon-24-home-grey {background-position: -25px 0px;}

.dakota-icon-24-left-arrow {background-position: 0px -25px;}
.dakota-icon-24-left-arrow-grey {background-position: -25px -25px;}

.dakota-icon-24-up-arrow {background-position: 0px -50px;}
.dakota-icon-24-up-arrow-grey {background-position: -25px -50px;}

.dakota-icon-24-down-arrow {background-position: 0px -75px;}
.dakota-icon-24-down-arrow-grey {background-position: -25px -75px;}

.dakota-icon-24-right-arrow {background-position: 0px -100px;}
.dakota-icon-24-right-arrow-grey {background-position: -25px -100px;}

.dakota-icon-24-lightbulb-on {background-position: -50px 0px;}
.dakota-icon-24-lightbulb-on-grey {background-position: -75px 0px;}

.dakota-icon-24-lightbulb-off {background-position: -50px -25px;}
.dakota-icon-24-lightbulb-off-grey {background-position: -75px -25px;}

.dakota-icon-24-tick {background-position: -50px -50px;}
.dakota-icon-24-tick-grey {background-position: -75px -50px;}

.dakota-icon-24-cross {background-position: -50px -75px;}
.dakota-icon-24-cross-grey {background-position: -75px -75px;}

.dakota-icon-24-warning {background-position: -50px -100px;}
.dakota-icon-24-warning-grey {background-position: -75px -100px;}

.dakota-icon-24-plus {background-position: -100px 0px;}
.dakota-icon-24-tick-grey {background-position: -125px 0px;}

.dakota-icon-24-minus {background-position: -100px -25px;}
.dakota-icon-24-minus-grey {background-position: -125px -25px;}

.dakota-icon-24-document-in {background-position: -100px -50px;}
.dakota-icon-24-document-in-grey {background-position: -125px -50px;}

.dakota-icon-24-document-out {background-position: -100px -75px;}
.dakota-icon-24-document-out-grey {background-position: -125px -75px;}

.dakota-icon-24-red00 {background-position: 0px -125px;}
.dakota-icon-24-red01 {background-position: -25px -125px;}
.dakota-icon-24-red02 {background-position: -50px -125px;}
.dakota-icon-24-red03 {background-position: -75px -125px;}
.dakota-icon-24-red04 {background-position: -100px -125px;}
.dakota-icon-24-red05 {background-position: -125px -125px;}
.dakota-icon-24-red06 {background-position: -150px -125px;}
.dakota-icon-24-red07 {background-position: -175px -125px;}
.dakota-icon-24-red08 {background-position: -200px -125px;}
.dakota-icon-24-red09 {background-position: -225px -125px;}
.dakota-icon-24-red10 {background-position: -250px -125px;}

.dakota-icon-24-blue00 {background-position: 0px -150px;}
.dakota-icon-24-blue00 {background-position: -25px -150px;}
.dakota-icon-24-blue00 {background-position: -50px -150px;}
.dakota-icon-24-blue03 {background-position: -75px -150px;}
.dakota-icon-24-blue04 {background-position: -100px -150px;}
.dakota-icon-24-blue05 {background-position: -125px -150px;}
.dakota-icon-24-blue06 {background-position: -150px -150px;}
.dakota-icon-24-blue07 {background-position: -175px -150px;}
.dakota-icon-24-blue08 {background-position: -200px -150px;}
.dakota-icon-24-blue09 {background-position: -225px -150px;}
.dakota-icon-24-blue10 {background-position: -250px -150px;}

.dakota-icon-24-black00 {background-position: 0px -175px;}
.dakota-icon-24-black01 {background-position: -25px -175px;}
.dakota-icon-24-black02 {background-position: -50px -175px;}
.dakota-icon-24-black03 {background-position: -75px -175px;}
.dakota-icon-24-black04 {background-position: -100px -175px;}
.dakota-icon-24-black05 {background-position: -125px -175px;}
.dakota-icon-24-black06 {background-position: -150px -175px;}
.dakota-icon-24-black07 {background-position: -175px -175px;}
.dakota-icon-24-black08 {background-position: -200px -175px;}
.dakota-icon-24-black09 {background-position: -225px -175px;}
.dakota-icon-24-black10 {background-position: -250px -175px;}

.dakota-icon-24-darkblue00 {background-position: 0px -200px;}
.dakota-icon-24-darkblue01 {background-position: -25px -200px;}
.dakota-icon-24-darkblue02 {background-position: -50px -200px;}
.dakota-icon-24-darkblue03 {background-position: -75px -200px;}
.dakota-icon-24-darkblue04 {background-position: -100px -200px;}
.dakota-icon-24-darkblue05 {background-position: -125px -200px;}
.dakota-icon-24-darkblue06 {background-position: -150px -200px;}
.dakota-icon-24-darkblue07 {background-position: -175px -200px;}
.dakota-icon-24-darkblue08 {background-position: -200px -200px;}
.dakota-icon-24-darkblue09 {background-position: -225px -200px;}
.dakota-icon-24-darkblue10 {background-position: -250px -200px;}

.dakota-icon-24-white00 {background-position: 0px -225px;}
.dakota-icon-24-white01 {background-position: -25px -225px;}
.dakota-icon-24-white02 {background-position: -50px -225px;}
.dakota-icon-24-white03 {background-position: -75px -225px;}
.dakota-icon-24-white04 {background-position: -100px -225px;}
.dakota-icon-24-white05 {background-position: -125px -225px;}
.dakota-icon-24-white06 {background-position: -150px -225px;}
.dakota-icon-24-white07 {background-position: -175px -225px;}
.dakota-icon-24-white08 {background-position: -200px -225px;}
.dakota-icon-24-white09 {background-position: -225px -225px;}
.dakota-icon-24-white10 {background-position: -250px -225px;}

.dakota-icon-24-grey00 {background-position: 0px -250px;}
.dakota-icon-24-grey01 {background-position: -25px -250px;}
.dakota-icon-24-grey02 {background-position: -50px -250px;}
.dakota-icon-24-grey03 {background-position: -75px -250px;}
.dakota-icon-24-grey04 {background-position: -100px -250px;}
.dakota-icon-24-grey05 {background-position: -125px -250px;}
.dakota-icon-24-grey06 {background-position: -150px -250px;}
.dakota-icon-24-grey07 {background-position: -175px -250px;}
.dakota-icon-24-grey08 {background-position: -200px -250px;}
.dakota-icon-24-grey09 {background-position: -225px -250px;}
.dakota-icon-24-grey10 {background-position: -250px -250px;}

.dakota-icon-24-yellow00 {background-position: 0px -275px;}
.dakota-icon-24-yellow01 {background-position: -25px -275px;}
.dakota-icon-24-yellow02 {background-position: -50px -275px;}
.dakota-icon-24-yellow03 {background-position: -75px -275px;}
.dakota-icon-24-yellow04 {background-position: -100px -275px;}
.dakota-icon-24-yellow05 {background-position: -125px -275px;}
.dakota-icon-24-yellow06 {background-position: -150px -275px;}
.dakota-icon-24-yellow07 {background-position: -175px -275px;}
.dakota-icon-24-yellow08 {background-position: -200px -275px;}
.dakota-icon-24-yellow09 {background-position: -225px -275px;}
.dakota-icon-24-yellow10 {background-position: -250px -275px;}

.dakota-icon-24-green00 {background-position: 0px -300px;}
.dakota-icon-24-green01 {background-position: -25px -300px;}
.dakota-icon-24-green02 {background-position: -50px -300px;}
.dakota-icon-24-green03 {background-position: -75px -300px;}
.dakota-icon-24-green04 {background-position: -100px -300px;}
.dakota-icon-24-green05 {background-position: -125px -300px;}
.dakota-icon-24-green06 {background-position: -150px -300px;}
.dakota-icon-24-green07 {background-position: -175px -300px;}
.dakota-icon-24-green08 {background-position: -200px -300px;}
.dakota-icon-24-green09 {background-position: -225px -300px;}
.dakota-icon-24-green10 {background-position: -250px -300px;}

/* Form layout CSS, originally for the Middle Office Transactions dialog.  */

.formItemGroup {
    width: 380px;
    float: left;
    padding: 2px;
}

.moTransactionsFilter .clearer{
    clear: both;
}

.moTransactionUpdateButton {
    padding: 2px;
    border-left: 10px;
    border-bottom: 5px;
}

.formItemDiv {
    width: 375px;
    float: left;
}

.formItemDiv label{
    float: left;
    width: 140px;
}

.formItemDiv span label {
    margin-top: 3px;
    width: 100px;
}

.formItemDiv .buttonSelectRecentDate {
    margin-top: 2px;
    margin-left: 3px;
}

.formControlDiv {
    float: left;
    padding-bottom: 5px;
}
.formItemDiv input{
    float: left;
    width: 100px;
    margin-left: 0px;
    padding-left: 2px;
}

.formItemDiv input[type=checkbox]{
    width: auto;
    vertical-align: middle;
}



/* Specific styling for Splitter bar  */

.splitter-bar-vertical {
    width: 3px;
    background: #aaa;
}

.splitter-bar-horizontal {
    height: 3px;
    background: #aaa;
}

/*   */

.highlightDiv
{
    padding: 0px;
    border: 1px solid #ff5167;
}

.loaderGif {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    visibility: hidden;
}

.loaderGifParent {
    position:relative;
    overflow: visible;
}

.dialogDiv a.wijmo-wijgrid-headertext {
    padding: 0.1em !important ;
}

/* nList styling */

.jquery-nlist {}

.jquery-nlist-ul {
    border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 2px;
}

.jquery-nlist-ul .jquery-nlist-item {
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
}

/* menu styling  */

.ui-menu-list {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    position:static;
    display:block;
}

.ui_menu_background {
    /*background: #d7ebf9 url(ui-themes/redmond/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; /* taken from ui-state-default */
    /*background: url(ui-themes/redmond/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; /* taken from ui-state-default */
    color: #2779aa;
    border: 1px solid #DDDDDD;
    font-weight: bold;}

.ui-menu-list li a {
    line-height: 16px;
    display: block;
    text-decoration: none;
    float: left;
    /*padding: 0.4em 0.3em; */
    padding: 0.5em 0.5em;
    /*width: 92%;*/
}

.menu-item {
    position: relative;

    float: left;
    /*
    bottom: -20;
    width:auto;
    padding: 0.4em 0.3em;
    margin-right: 3px;
    border: medium none;
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    */
}


/*.menu-item:hover { background: #CCCCCC; }*/
.menu-item:hover .sub-menu { display: inline; }​



/*.sub-item:hover { background: #CCCCCC; }*/
.sub-item:hover .third-menu { display: inline; }
.third-menu {
    position: absolute;
    top: 0px;
    right: -200px;
    width: 200px;
    list-style: none;
    /*padding: 0; */
    padding: 0.5em 0.5em;
    margin: 0;
    display: none;
    z-index: 999999;
}
.third-menu li {
    height: 30px;
    line-height: 30px;
    background: #999999;
}
.third-menu li:hover { background: #CCCCCC; }

.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
    list-style: none;
    padding:  0.1em 0.1em 0.5em 0.1em;
    margin: 0;
    display: none;
    z-index: 999999;
}
.sub-item {
    position: relative;
    float:left;
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin-top:2px;
    padding: 1px;
}


/*  */


.formlabel {
    clear: left;
    float: left;
    width: 10em;
    padding-top:4px;
    font-weight: bold;
}

.formline {
	position:relative;
    padding-top:5px;
    padding-bottom:5px;
}

.buttonspacer{
	float: left;
	padding:1em 5em 0em 5em;
}

.firstbutton {
	padding:0em 1em 0em 0em;	
   	float:left;
}

.submitbutton {
    /* Enter button on the Login form. */
    display: block;
    left: 10em;
    position: relative;
}

#okButton {
    border: 2px solid;
}

.textinput{
    background-color: #FBFEFF;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
}
.textinput:focus{
    background-color: #FFFFFF;
    border-style: solid;
    border-width:1px;
    border-color: #FFCC33;
}

.cbdiv{
    background-color: #FBFEFF;
    width: 20px;
    height: 20px;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    border-radius: 5px;
}

.cbdivinner{
	margin-left:2px;
}

.simpleForm{
    background-color: #FBFEFF;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

.autocomplete_abs {
    position: absolute;
    padding: 5px 10px;
    border: 1px solid #b8c6d2;
    background: white;
}
