/*!
 *
 *
 *
 *
 *
 *
 *
 */

body {
    font-size: 75%;
}

.fsContextMenu {
    max-height: 250px;
    overflow-y:scroll;

    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    opacity:0.95;
    cursor:pointer;
    padding: 5px 30px;
    border: 1px solid #b8c6d2;
    background: #dae6f1;
}

.fsContextDiv {
    max-height: 250px;
    overflow-y:scroll;

    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    opacity:0.95;
    cursor:pointer;
    padding: 5px 30px;
    border: 1px solid #b8c6d2;
    background: #dae6f1;
}

.fsTooltip {
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    opacity:1.0;
    cursor:pointer;
    padding: 5px 30px;
    border: 1px solid #b8c6d2;
    background: #dae6f1;
}

.fsContextMenu li {padding: 2px;}
.fsContextMenu li:hover {font-weight:bold; cursor: pointer;}

.fsContextDiv span {padding: 2px;}
.fsContextDiv span:hover {font-weight:bold; cursor: pointer;}


.ui-dialog {
    box-shadow: 2px 4px 2px 2px #ddd;
    -o-box-shadow: 2px 4px 2px 2px #ddd;
    -webkit-box-shadow: 2px 4px 2px 2px #ddd;
    -moz-box-shadow: 2px 4px 2px 2px #ddd;

}

.ui-dialog .ui-dialog-content {
    padding: 0px;
}

.paddingZero{ padding: 0px;}

/* Icons */

.dakota-icon-24 {
    background-image: url(images/dakota_icons.png);
    margin: 2px;
    height: 24px;
    width: 24px;
}

.dakota-icon-24:hover {
    border: 1px solid #558cda;
    margin: 1px;
    border-radius: 4px;
}

.dakota-icon-24-home {
    background-position: 0px 0px;
}

.dakota-icon-24-home-grey {
    background-position: -25px 0px;
}

.dakota-icon-24-left-arrow {
    background-position: 0px -25px;
}

.dakota-icon-24-left-arrow-grey {
    background-position: -25px -25px;
}

.dakota-icon-24-up-arrow {
    background-position: 0px -50px;
}

.dakota-icon-24-up-arrow-grey {
    background-position: -25px -50px;
}

.dakota-icon-24-down-arrow {
    background-position: 0px -75px;
}

.dakota-icon-24-down-arrow-grey {
    background-position: -25px -75px;
}

.dakota-icon-24-right-arrow {
    background-position: 0px -100px;
}

.dakota-icon-24-right-arrow-grey {
    background-position: -25px -100px;
}

/* Form layout CSS, originally for the Middle Office Transactions dialog.  */

.formItemGroup {
    width: 380px;
    float: left;
    padding: 2px;
}

.moTransactionsFilter .clearer{
    clear: both;
}

.NevadaClearer{
    clear: both;
}

.moTransactionUpdateButton {
    padding: 2px;
    border-left: 10px;
    border-bottom: 5px;
}

.formItemDiv {
    width: 375px;
    float: left;
}

.formItemDiv label{
    float: left;
    width: 140px;
}

.formItemDiv span label {
    margin-top: 3px;
    width: 100px;
}

.formItemDiv .buttonSelectRecentDate {
    margin-top: 2px;
    margin-left: 3px;
}

.formControlDiv {
    float: left;
    padding-bottom: 5px;
}
.formItemDiv input{
    float: left;
    width: 100px;
    margin-left: 0px;
    padding-left: 2px;
}

.formItemDiv input[type=checkbox]{
    width: auto;
    vertical-align: middle;
}

.gridTransactionHighlightIfZero {
    font-weight:bold;
    background-color:pink
}

/* Specific styling for Splitter bar  */

.splitter-bar-vertical {
    width: 3px;
    background: #aaa;
}

.splitter-bar-horizontal {
    height: 3px;
    background: #aaa;
}

/*   */

.highlightDiv
    {
     padding: 0px;
     border: 1px solid #ff5167;
    }

.loaderGif {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    visibility: hidden;
}

.loaderGifParent {
    position:relative;
    overflow: visible;
}

.dialogDiv a.wijmo-wijgrid-headertext {
    padding: 0.1em !important ;
}

/* nList styling */

.jquery-nlist {}

.jquery-nlist-ul {
    border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 2px;
}

.jquery-nlist-ul .jquery-nlist-item {
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
}

/* menu styling  */

.ui-menu-list {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    position:static;
    display:block;
}

.ui_menu_background {
    /*background: #d7ebf9 url(ui-themes/redmond/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; /* taken from ui-state-default */
    /*background: url(ui-themes/redmond/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; /* taken from ui-state-default */
    color: #2779aa;
    border: 1px solid #DDDDDD;
    font-weight: bold;}

.ui-menu-list li a {
    line-height: 16px;
    display: block;
    text-decoration: none;
    float: left;
    /*padding: 0.4em 0.3em; */
    padding: 0.5em 0.5em;
    /*width: 92%;*/
}

.menu-item {
    position: relative;

    float: left;
    /*
    bottom: -20;
    width:auto;
    padding: 0.4em 0.3em;
    margin-right: 3px;
    border: medium none;
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    */
}


/*.menu-item:hover { background: #CCCCCC; }*/
.menu-item:hover .sub-menu { display: inline; }​



/*.sub-item:hover { background: #CCCCCC; }*/
.sub-item:hover .third-menu { display: inline; }
.third-menu {
    position: absolute;
    top: 0px;
    right: -200px;
    width: 200px;
    list-style: none;
    /*padding: 0; */
    padding: 0.5em 0.5em;
    margin: 0;
    display: none;
    z-index: 999999;
}
.third-menu li {
    height: 30px;
    line-height: 30px;
    background: #999999;
}
.third-menu li:hover { background: #CCCCCC; }

.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
    list-style: none;
    padding:  0.1em 0.1em 0.5em 0.1em;
    margin: 0;
    display: none;
    z-index: 999999;
}
.sub-item {
    position: relative;
    float:left;
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin-top:2px;
    padding: 1px;
}

.autocomplete_abs {
    /*position: absolute;*/
    padding: 5px 10px;
    border: 1px solid #b8c6d2;
    background: white;
    cursor: pointer;
}

/* TABLES */
table.broom_table  {border-collapse: collapse; margin: 0; width: 100%;border: 1px solid #CCCCCC; border-right: none; font-size:11px}
table.broom_table thead {border-bottom: 1px solid #CCCCCC; }
table.broom_table thead th{color:#333333;text-align:left; font-weight:normal;text-transform:uppercase; padding:15px 10px 15px 20px; border-right: 1px solid #CCCCCC}
table.broom_table  td { padding: 5px 10px 5px 20px;line-height: 120%; vertical-align: middle; background: #f7f7f7; border-right: 1px solid #CCCCCC;}
table.broom_table  td a { display: block; padding: 10px 0; }
table.broom_table  td.link { padding: 5px 0; }
table.broom_table  tr.odd td { background: #f1f1f1;}

/*MOUSEOVER*/
table.broom_table  
tr.over td,
table.broom_table  tr:hover td { cursor: pointer; background: #E8E4DE }
table.broom_table  tr:hover a {}
table.broom_table a.table_delete {padding: 0; display: block; width: 16px; height: 16px; text-indent: -9999px; background:url(../img/icons/cross.png) no-repeat; float: left; margin: 0 10px 0 0}
table.broom_table a.table_edit {padding: 0; display: block; width: 16px; height: 16px; text-indent: -9999px; background:url(../img/icons/pencil.png) no-repeat; float: left; margin: 0 10px 0 0}
table.broom_table a.table_comment {padding: 0; display: block; width: 16px; height: 16px; text-indent: -9999px; background:url(../img/icons/balloon.png) no-repeat; float: left; margin: 0 10px 0 0}

/*TABLE / RECORD PAGINATION*/
.pagination {padding: 20px 0 !important}
.pagination a {text-decoration: none; color:#999999; background: #f1f1f1; padding: 5px 9px; margin: 0 0 7px 0; border: 1px solid #CCCCCC; font-size:9px}
.pagination a:hover {cursor: pointer; background: #E8E4DE; color:#666666 }
.pagination a.selected { color: #ffffff; background: #5e5552; border: 1px solid #5e5552 }

/* Status */
div.statusDiv{
	padding:10px;
}
p.statusHead{
	color: #2779aa;
    font-weight: bold;
}
.statusWarning{
	color:red;
}

.formlabel {
    clear: left;
    float: left;
    width: 10em;
    padding-top:4px;
    font-weight: bold;
}

.labelleftspace{
	padding-left:15px;
}

.labelfixed{
	display:inline-block;
	width:70px;
}

.controlblock{
	display:inline-block;
	width:310px;
}

.formline {
	position:relative;
    padding-top:5px;
    padding-bottom:5px;
}

.buttonspacer{
	float: left;
	padding:1em 5em 0em 5em;
}

.firstbutton {
	padding:0em 1em 0em 0em;	
   	float:left;
}

.submitbutton {
    /* Enter button on the Login form. */
    display: block;
    left: 10em;
    position: relative;
}

#okButton {
    border: 2px solid;
}

.textinput{
    background-color: #FBFEFF;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
}
.textinput:focus{
    background-color: #FFFFFF;
    border-style: solid;
    border-width:1px;
    border-color: #FFCC33;
}

.dateinput{
	width:100px
}

.cbdiv{
    background-color: #FBFEFF;
    width: 20px;
    height: 20px;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    border-radius: 5px;
}

.cbdivinner{
	margin-left:2px;
}



.simpleForm{
    background-color: #FBFEFF;
    border-style:solid;
    border-width:1px;
    border-color: #6685A3;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

.adhocright {
        border: 1px solid #CCCCCC;
        height: 20px;
        padding: 3px 5px 4px 5px;
        outline: none;
        width: 30px;
        background: #f7f7f7;
        position: relative;
        top:0px;
        margin: 0px 0px 7px}

/*UL*/
ul.points {list-style: none; padding: 15px 0}
ul.points li {padding: 3px  0 3px 20px; 
background:url(../img/icons/arrow_000_small.png) no-repeat left center}

#wideside {
    float: left;
    width: 400px;
    margin-top: 10px;
}
/* right column */
#rightwide {
    float: right;
    width: 400px;
    margin-top: 10px;
}

div#wrapper {width: 1000px; float: left; position: relative;}
div#header {height: 200px; background:url(../img/layout/bg_top2.jpg) 
repeat-x top #3d3025; width: 100%}
div#menu_main {width: 200px; position: absolute; left: 0; top: 0; }
div#content {width: 800px; float: left; padding: 0 0 0 200px}

.twocolwrap {width: 100%; float: left; position: relative}
.leftcol {float: left; width:500px; padding: 0 5px 0 5px}
.rightcol {float: left; width:500px;padding: 0 5px 0 5px}
.endcol{clear:both;}

.rightcoljustified {
      position:absolute;
      top:13px;
      right:0;
}


